@model IEnumerable<ProjectProgress.Models.Student>

@{
    ViewBag.Title = "SelectIndex";
}
<br />
<h3>Select Student</h3>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.StudentUSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.TeacherName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.StudentUSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.TeacherName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.ActionLink("Select", "Select", new { id = item.StudentUSN })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Done", "Index", "Admin")
</p>